.table-row {
  display: flex;
}
.table-row__cell {
  display: flex;
  width: 220px;
  margin: 10px;
  min-height: 35px;
  text-align: left;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
}
